# Alias Bash
{% for alias, command in shell_aliases.items() %}
alias {{ alias }}='{{ command }}'
{% endfor %}

# Environment Variables
{% for var, value in shell_env_vars.items() %}
export {{ var }}={{ value }}
{% endfor %}