# Alias ZSH
{% for alias, command in aliases_shell.items() %}
alias {{ alias }}='{{ command }}'
{% endfor %}

# Environment Variables
{% for var, value in aliases_vars.items() %}
export {{ var }}={{ value }}
{% endfor %}