# ANSIBLE MANAGED - apt-fast configuration
DOWNLOADBEFORE="{{ apt_fast.config.DOWNLOADBEFORE }}"
MIRRORS="{{ apt_fast.config.MIRRORS }}"
_MAXNUM="{{ apt_fast.config._MAXNUM }}"
_MAXCONPERSRV="{{ apt_fast.config._MAXCONPERSRV }}"
_SPLITBUFFER="{{ apt_fast.config._SPLITBUFFER }}"